/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #575756; }

.container {
  background-image: url(../img/Recurso_17.png);
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap; }

.bar-top {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-basis: 100%;
  border-bottom: 1px solid #575756;
  font-weight: bold; }
  .bar-top__dispaly-name {
    height: auto;
    color: #575756;
    font-size: 1.8rem;
    flex-basis: 100%;
    padding: 1rem 2rem; }
  .bar-top__main {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2rem; }
  .bar-top__logo {
    align-self: baseline; }
  .bar-top__users {
    display: flex;
    align-items: center; }
  .bar-top__users-info {
    margin-right: 1.5rem; }
    .bar-top__users-info--name {
      font-size: 1.8rem;
      color: #575756; }
    .bar-top__users-info--type {
      font-size: 1.5rem;
      color: #b2b2b2;
      text-align: right; }
  .bar-top__users-icon {
    font-size: 4.8rem;
    color: #2d2e83; }

.nav-bar {
  flex-basis: 20%;
  color: #575756;
  border-right: 1px solid #575756;
  max-width: 20rem;
  font-weight: bold; }
  .nav-bar__item {
    display: flex;
    font-size: 1.8rem;
    padding: 2rem; }
    .nav-bar__item--icon {
      margin-right: 1rem;
      font-size: 2rem; }

.me-1 {
  margin-right: 2rem; }

.content {
  flex-basis: 80%;
  min-height: 80vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .content__form {
    display: flex;
    flex-basis: 85%;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #e93e8c, rgba(237, 109, 107, 0.65));
    border-radius: 20px;
    padding: 5rem;
    align-items: flex-start;
    margin-top: 5rem;
    max-width: 80rem; }
  .content__input-name, .content__options {
    font-size: 2.2rem;
    margin: 3rem 0;
    border-radius: 10px;
    padding: 1rem;
    flex-basis: 65%; }
    .content__input-name:not(:first-of-type), .content__options:not(:first-of-type) {
      margin: 0; }
  .content__input {
    display: flex;
    flex-wrap: nowrap;
    color: #ffffff;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-between; }
    .content__input-date {
      font-size: 2.2rem;
      display: flex;
      margin-right: 3rem;
      align-items: center; }
      .content__input-date:not(:first-of-type) {
        margin-right: 0; }
  .content__link {
    font-size: 5rem;
    color: white;
    margin-left: auto; }
  .content__wrap {
    width: 100%;
    text-align: center;
    margin-top: 2rem; }
    .content__wrap a {
      margin-left: 55%; }
  .content__options {
    width: 65%;
    margin: 0;
    margin-bottom: 1rem; }
  .content__addusers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem; }
    .content__addusers:not(:first-of-type) {
      margin-bottom: 2rem; }
    .content__addusers--label {
      flex-basis: 100%;
      color: #ffffff;
      font-size: 2.2rem;
      margin-bottom: 2rem;
      font-weight: bold; }
    .content__addusers--wrap {
      display: flex;
      color: #ffffff;
      font-size: 2.2rem;
      align-items: center;
      font-weight: bold; }
      .content__addusers--wrap-input {
        padding: 1rem;
        flex-basis: 65%; }

.input-date {
  margin: 0 1rem;
  border-radius: 5px;
  padding: .5rem;
  align-self: center;
  flex-basis: 100%;
  font-size: 2.2rem; }

.icon-date {
  font-size: 3rem; }

.ml-1.5 {
  margin-left: 1.5rem; }

.btn-submit {
  padding: 1rem 2rem;
  background-color: #fcbf00;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
  color: white;
  margin-top: 4rem;
  font-size: 1.8rem; }
