// COLORS

$color-black: #000000;

$color-grey-dark: #575756; //font-nav-bar
$color-grey-mid: #9d9d9c; //footer-items
$color-grey-light: #c6c6c6; //bg-nav-bar
$color-grey-light-1: #b2b2b2;//font-nav-bar

$color-white: #ffffff;
$color-white-light: #f6f6f6;

$color-blue-dark: #2d2e83;
$color-blue-light: #1d71b8;

$color-yellow:#fcbf00;

$color-pink-dark: #e93e8c; //bg-main-content
$color-pink-light: #ed6d6b; //bg-main-content

// TYPOGRAPHY
$font-size-nav-bar: 2.2rem;
$font-size-bar-top: 1.6rem;
$font-size-small-bar-top: 1.4rem;
$font-size-icon-bar-top: 4.8rem;
$default-font-family:'Open Sans', sans-serif;

$break-small: 420px;
$break-md: 750px;


