@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #575756;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d9d9c;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.btn {
  font-size: 1.4rem;
}

.btn-amarillo {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #fcbf00;
  padding: 5px 40px;
  transition: all 0.5s;
  border: none;
}
.btn-amarillo:hover {
  color: #ffffff;
  background-color: #c6c6c6;
}

.btn-blue {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #2d2e83;
  padding: 5px 20px;
  transition: all 0.5s;
  border: none;
}
.btn-blue:hover {
  background-color: #1d71b8;
  color: #ffffff;
}

.btn-pink-gradient {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-image: linear-gradient(to right, #e93e8c, rgba(237, 109, 107, 0.65));
  padding: 1.3rem 2rem;
  border: none;
  text-decoration: none;
  transition: all 1s;
  border-radius: 25px;
}
.btn-pink-gradient:hover {
  background-image: linear-gradient(to right, rgba(237, 109, 107, 0.65), #e93e8c);
  color: #ffffff;
}

.footer {
  height: 60px;
}
.footer .footer-info {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .footer .footer-info {
    flex-wrap: wrap;
  }
}
.footer .footer-info li a {
  color: #9d9d9c;
  padding: 5px;
}
.footer .footer-info li a i {
  font-size: 20px;
}
.footer .footer-info img {
  width: 40px;
  height: auto;
}
@media screen and (max-width: 420px) {
  .footer .footer-info img {
    width: 32px;
  }
}
.footer .footer-faq a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-faq a span {
  color: #9d9d9c;
  font-weight: 600;
  line-height: 1;
}
@media screen and (max-width: 420px) {
  .footer .footer-faq a span {
    display: none;
  }
}
.footer .footer-faq a img {
  margin-right: 5px;
  width: 40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #9d9d9c !important;
  border: 1px solid #9d9d9c;
  background-color: white;
  background: white;
}

.modals .modal-content {
  padding: 1rem;
  border: 0;
  border-radius: 2.4rem;
}
.modals .modal-header {
  border-bottom: 0;
  padding: 1.5rem;
  text-align: center;
  display: block;
}
.modals .modal-header h2 {
  color: #575756;
  font-weight: 700;
  font-size: 2.5rem;
}
.modals .modal-footer {
  justify-content: center;
  border-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.modals .modal-footer .btn-modal {
  background-color: transparent;
  border: 0;
  color: #575756;
  font-size: 2rem;
  font-weight: 700;
}

.content-center {
  display: flex;
  justify-content: center;
}

.content {
  flex-basis: 80%;
  min-height: 80vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content__form, .content__form1, .content__form2 {
  display: flex;
  flex-basis: 85%;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #e93e8c, rgba(237, 109, 107, 0.65));
  border-radius: 20px;
  padding: 5rem;
  align-items: flex-start;
  margin-top: 5rem;
  max-width: 80rem;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .content__form, .content__form1, .content__form2 {
    padding: 1rem;
  }
}
.content__form1 {
  flex-basis: 50%;
  padding: 4rem;
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .content__form1 {
    padding: 3rem;
    flex-basis: 65%;
  }
}
@media screen and (max-width: 576px) {
  .content__form1 {
    flex-basis: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .content__form1 {
    flex-basis: 100%;
  }
}
.content__form2 {
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .content__form2 {
    padding: 2rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .content__form2 {
    flex-basis: 100%;
  }
}
.content__input-name {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  border-radius: 10px;
  padding: 0.5rem;
  flex-basis: 80%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 420px) {
  .content__input-name {
    flex-basis: 100%;
  }
}
.content__input-name:not(:first-of-type) {
  margin: 0;
}
.content__options {
  font-size: 1.8rem;
  margin: 3rem 0;
  border-radius: 10px;
  padding: 0.5rem;
  flex-basis: 70%;
}
@media screen and (max-width: 768px) {
  .content__options {
    flex-basis: 100%;
  }
}
.content__options:not(:first-of-type) {
  margin: 0;
}
.content__input {
  display: flex;
  flex-wrap: nowrap;
  color: #ffffff;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .content__input {
    display: inline-block;
  }
}
.content__input-date {
  font-size: 2.2rem;
  display: flex;
  margin-right: 3rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .content__input-date {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.content__input-date:not(:first-of-type) {
  margin-right: 0;
}
.content__link {
  font-size: 5rem;
  color: white;
  margin-left: auto;
}
.content__wrap {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.content__wrap a {
  margin-left: 66%;
}
.content__options {
  width: 80%;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .content__options {
    width: 100%;
  }
}
.content__addusers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  flex-basis: 90%;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .content__addusers {
    flex-basis: 100%;
  }
}
.content__addusers:not(:first-of-type) {
  margin-bottom: 2rem;
}
.content__addusers--label {
  flex-basis: 100%;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.content__addusers--wrap {
  display: flex;
  color: #ffffff;
  font-size: 1.8rem;
  align-items: center;
  font-weight: bold;
}
.content__addusers--wrap-input {
  padding: 1rem;
  flex-basis: 65%;
}

.input-date {
  margin: 0 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  align-self: center;
  flex-basis: 100%;
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .input-date {
    margin: 0;
    margin-right: 1rem;
  }
}

.icon-date {
  font-size: 3rem;
}

.btn-submit {
  padding: 1rem 2rem;
  background-color: #fcbf00;
  border: none;
  border-radius: 1rem;
  color: white;
  margin-top: 0rem;
  margin-left: auto;
  font-size: 1.8rem;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .btn-hidden {
    overflow: hidden;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .w90 {
    width: 90px;
  }
}

.ml-15 {
  margin-left: 1.5rem;
}

.mr1 {
  margin-right: 1rem;
}

.tables {
  margin: 2rem;
  color: #575756;
}

/* dashboard */
.admin {
  background: url(../img/bg-admin.png) no-repeat;
  background-size: cover;
}
.admin .dashboard {
  margin-bottom: 1rem;
  margin-top: 80px;
}

/* dashboard header */
.dash-header {
  border-bottom: 2px solid #c6c6c6;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: #ffffff url(../img/bg-admin.png) no-repeat;
  background-size: cover;
  height: 80px;
}
.dash-header .logo {
  max-height: 69px;
}

.dash-nav {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  margin-bottom: 0;
}
.dash-nav li {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.dash-nav li h5 {
  color: #575756;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.dash-nav li h5 span {
  color: #9d9d9c;
  font-weight: 400;
}
.dash-nav li i {
  font-size: 30px;
  margin-left: 0.5rem;
  color: #c6c6c6;
}

/* dashboard menu */
.dash-menu {
  background: rgba(198, 198, 198, 0.5);
  color: #575756;
  padding: 30px 10px 50px;
  min-height: calc(100vh - 140px);
}
@media screen and (max-width: 768px) {
  .dash-menu {
    padding: 0;
    min-height: auto;
  }
}
.dash-menu .navbar {
  padding: 0;
}
.dash-menu .navbar .navbar-collapse {
  padding: 1rem;
}
.dash-menu .navbar-toggler {
  position: absolute;
  top: -70px;
  background: #ffffff;
  right: 10px;
  z-index: 100;
  border: 2px solid #ed6d6b;
  color: #ed6d6b;
  padding: 1.2rem;
  font-size: 2.3rem;
}
.dash-menu .navbar-toggler:focus {
  outline: none;
  border: 2px solid #e93e8c;
  color: #e93e8c;
}
.dash-menu .navbar-expand-sm .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
}
.dash-menu .navbar-expand-sm .navbar-nav li {
  margin-bottom: 10px;
}
.dash-menu .navbar-expand-sm .navbar-nav li a {
  color: #575756;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.dash-menu .navbar-expand-sm .navbar-nav li a:hover {
  color: #ed6d6b;
}
.dash-menu .navbar-expand-sm .navbar-nav li a i {
  margin-right: 1rem;
}

/* dashboard main */
.dash-main {
  padding: 2rem;
  min-height: calc(100vh - 140px);
  overflow-y: scroll;
}
.dash-main .dash-title {
  font-size: 3.5rem;
  color: #575756;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}
.dash-main .btn-title {
  display: flex;
  justify-content: flex-end;
}
.dash-main .btn-title .btn-guide {
  text-align: center;
}
.dash-main .btn-title .btn-guide p {
  font-size: 0.8rem;
  color: #9d9d9c;
  font-weight: 600;
}
.dash-main .btn-title .btn-guide i {
  font-size: 3.5rem;
  color: #e93e8c;
}
.dash-main .btn-title .btn-guide:hover i {
  font-size: 3.6rem;
}
.dash-main .btn-title .btn-guide:hover a {
  text-decoration: none;
}
.dash-main .btn-create {
  margin-right: 1.6rem;
}
.dash-main .btn-create a {
  display: flex;
  align-items: center;
}
.dash-main .btn-create a h6 {
  color: #575756;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 0.5rem;
}
.dash-main .btn-create a i {
  font-size: 3.3rem;
  color: #ed6d6b;
}
.dash-main .btn-create a:hover {
  text-decoration: none;
}
.dash-main .btn-create:hover i {
  font-size: 3.4rem;
}
.dash-main .tables.sn-txt .dataTables_length label {
  display: none;
}
.dash-main .tables.sn-txt input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #c6c6c6;
}
.dash-main .tables.sn-txt .input-group input.form-control {
  border: 0;
}
.dash-main .tables.sn-txt button {
  background: transparent;
  color: #9d9d9c;
  border: 0;
  outline: 0;
  padding: 2px;
}
.dash-main .tables.sn-txt table.display tr {
  background-color: transparent !important;
  border-bottom: 1px solid #a78d8d !important;
  border-collapse: collapse !important;
}
.dash-main .tables.sn-txt table.dataTable.display tbody tr.odd > .sorting_1, .dash-main .tables.sn-txt table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: transparent;
}
.dash-main .tables.sn-txt .btn-tables a {
  color: #9d9d9c;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.dash-form {
  margin-top: 3rem;
}
.dash-form .input--style-1 {
  font-size: 15px;
  max-width: 100%;
}
.dash-form .form-control {
  border-radius: 25px;
  font-size: 1.5rem;
  border: 2px solid #9d9d9c;
  padding: 1.9rem 1.2rem;
}
.dash-form .form-control:focus {
  border: 2px solid #e93e8c;
  box-shadow: none;
}

.dash-accordion .group-title {
  color: #575756;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  font-size: 1.6rem;
  outline: none;
}
.dash-accordion .group-title:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
}
.dash-accordion .group-title.collapsed:before {
  content: "";
}
.dash-accordion .accordion > .card {
  border: 0;
  background: transparent;
}
.dash-accordion .accordion > .card .card-header {
  border-radius: 0;
  margin-bottom: -1px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c6c6c6;
}
.dash-accordion .group h4 {
  font-size: 1.6rem;
  color: #575756;
  margin-bottom: 0;
}
.dash-accordion .group h4 a:hover {
  color: #e93e8c;
}
.dash-accordion .group p {
  color: #9d9d9c;
  font-size: 1.5rem;
}
.dash-accordion .group a {
  color: #9d9d9c;
  font-size: 1.3rem;
  margin-left: 5px;
}
.dash-accordion .group a:hover {
  color: #575756;
}

.alumnos-list {
  padding: 0 2rem;
  list-style-type: none;
}
.alumnos-list li {
  margin-bottom: 1.2rem;
}
.alumnos-list li a {
  float: right;
  color: #9d9d9c;
}

/*.border-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    background: #fff;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 2.4rem;
    margin-bottom: 1.3rem;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px; 
      border-radius: inherit; 
      background: $color-grey-mid;
    }
    &:hover, &:focus {
        outline: none;
        display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    background: #fff;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 2.4rem;
    margin-bottom: 1.3rem;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit; 
      background: linear-gradient(to right, $color-pink-dark, $color-pink-light);
    }
    }
}
*/
/* Ligin Styles*/
.login {
  height: 100vh;
  background-image: url(../img/bg-login.png);
  background-size: cover;
  background-position: top;
  z-index: 10;
}
@media screen and (max-width: 320px) {
  .login {
    height: auto;
  }
}

.login-form {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 420px) {
  .login-form {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.login-form input {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
  padding: 8px 10px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}
.login-form input:focus {
  outline: 0;
}
.login-form input::placeholder {
  color: #ffffff;
}

.create-account {
  text-align: center;
  color: #ffffff;
  float: right;
  margin-top: 30px;
}
.create-account i {
  font-size: 50px;
}
.create-account h5 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .title {
    font-size: 38px;
    text-align: center;
  }
}

.subtitle {
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .subtitle {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 45px;
  }
}
@media screen and (max-width: 576px) {
  .subtitle {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .subtitle {
    font-size: 38px;
    text-align: center;
  }
}

.mt-1vh {
  margin-top: 1vh;
}

.mt-3vh {
  margin-top: 3vh;
}

.mt-10vh {
  margin-top: 10vh;
}

.fixed {
  background-color: transparent;
  position: fixed;
  bottom: 0;
}
@media screen and (max-width: 320px) {
  .fixed {
    position: relative;
  }
}

/*# sourceMappingURL=main.css.map */
