.wrapper {
    display: flex;
    width: 100%;
    background-image: url(/Resources/assets/Recurso\ 17.png);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #C6C6C6;
    color: #575756;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    padding: 50px 30px;
    position: relative;
    z-index: 5;
}

a.link {
  color: #575756;
  text-decoration: none;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
}

a.link:hover {
  text-decoration: none;
  color: #2C3E50;

}

#sidebar img {
  width: 35px;
  height: 30px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#sidebar p {
  text-align: left;
  
}

li {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

#login_submit {
  color: #b2b2b2;
}

.navbar {
  position: relative;
  z-index: 3;
}

#logo {
  width: 120px;
  height: auto;
}

.page-footer {
  background-color: #E7ECF1;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 70px;
  background-color: #f3eded;
  z-index: 6;
}

.footerleft {
  color: #9d9d9c;
}

footer ul.footerleft{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding-left: 0px;

}
footer ul.footerleft li{
    display: inline;
    margin-right: 10px;
}
footer a{
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;    
}
.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.8);
     color: #222;
     
 }

 #FAQ {
   padding-left : 0px;
 }

 #FAQ_icon {
   width: 30px;
   height: auto;
   margin-right: 10px;
   margin-bottom: 25px;
 }

 #li_FAQ {
  margin-bottom: 50px;
  flex-direction: row;
 }

 .navbar_right {
   margin-left: auto;
   display: flex;
 }

.jumbotron {
  background-image: linear-gradient(#E93E8C, #ED6B6D);
  font-family: 'Open Sans', sans-serif;
  color: white;
  justify-content: center;
}

.display-4{
  font-weight: 700;
  font-size: 8rem;
}

.progress {
  width: 250px;
  border-radius: 1.25rem;
  margin: 0;
}

div.progress {
  border-radius: 1.25rem;
  height: 45px;
  padding: 3px;
}

.progress .progress-bar {
  background-color: #E93E8C;
  height: 100%;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

#user_name {
  margin-top: 20px;
  margin-bottom: 0;
}

.navbar_right #user_type {
    margin-left: auto;
}

#users {
  justify-content: flex-end;
  text-align: end;
  margin-right: 10px;
}

#page_content {
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#submit_button {
  width: 100px;
  margin-left: 35%;
}

.custom-control {
  margin-left: 37%;
}


