.dashboard .container{
    background-image: url(../img/Recurso_17.png);
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.bar-top{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 100%;
    border-bottom: 1px solid $color-grey-dark;
    font-weight: bold;

    &__dispaly-name{
        height: auto;
        color: color-grey-mid;
        font-size: 4rem;
        font-weight: 700;
        flex-basis: 100%;
        width: 100%;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }

    &__main{
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    &__logo{
        align-self: baseline;
    }

    &__users{
        display: flex;
        align-items: center;
    }

    &__users-info{
        margin-right: 1.5rem;
        
        &--name{
            font-size: $font-size-bar-top;
            color: $color-grey-dark;
        }

        &--type{
            font-size: $font-size-small-bar-top;
            color: $color-grey-light-1;
            text-align: right;
        }
    }

    &__users-icon{
        font-size: $font-size-icon-bar-top;
        color: $color-blue-dark;
    }
}

.nav-bar{
    flex-basis: 20%;
    color: $color-grey-dark;
    border-right: 1px solid $color-grey-dark;;
    max-width: 20rem;
    font-weight: bold;

    &__item{
        display: flex;
        font-size: $font-size-bar-top;
        padding: 2rem;
        line-height: 1;

        &--icon{
            margin-right: 1rem;
            font-size: 2rem;
        }
    }
}
.me-1{
    margin-right: 2rem;
}
.content{
    flex-basis: 80%;
    min-height: 80vh;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__form{
        display: flex;
        flex-basis: 85%;
        flex-wrap: wrap;
        background-image: linear-gradient(to right, rgba($color-pink-dark,1) , rgba($color-pink-light,.65));
        border-radius: 20px;
        padding: 5rem;
        align-items: flex-start;
        margin-top: 5rem;
        max-width: 80rem;
    }
   
    &__input-name,
    &__options{
        margin: 3rem 0;
        border-radius: 0;
        padding: 1rem;
        flex-basis: 65%;
        border: 2px solid white;
        background: rgba(255,255,255,0.1);
        font-size: 16px;
        color: white;
        &::placeholder {
            color: white;
        }
        &:not(:first-of-type) {
            margin: 0;
        }
    }

    &__input{
        display: flex;
        flex-wrap: nowrap;
        color: $color-white;
        align-items: center;
        flex-basis: 100%;
        justify-content: space-between;
        

        &-date{
            font-size: 2.2rem;
            display: flex;
            margin-right: 3rem;
            align-items: center;

            &:not(:first-of-type) {
                margin-right: 0;
            }
        }
    }
    &__link{
        font-size: 5rem;
        color: white;
        margin-left: auto;
    }

    &__wrap{
        width: 100%;
        text-align: center;
        margin-top: 2rem;

        & a {
            margin-left: 55%;
        }
    }

    &__options{
        width: 65%;
        margin: 0;
        margin-bottom: 1rem;
    }

    &__addusers{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        &:not(:first-of-type) {
            margin-bottom: 2rem;
        }

        &--label{
            flex-basis: 100%;
            color: $color-white;
            font-size: $font-size-nav-bar;
            margin-bottom: 2rem;
            font-weight: bold;
        }
        &--wrap{
            display: flex;
            color: $color-white;
            font-size: $font-size-nav-bar;
            align-items: center;
            font-weight: bold;

            
            &-input{
             
                padding: 1rem;
                flex-basis: 65%;
            }
        }

    }
    
}


.input-date{
    margin: 0 1rem;
    border-radius: 0;
    padding: .5rem;
    align-self: center;
    flex-basis: 100%;
    border: 2px solid white;
        background: rgba(255,255,255,0.1);
        font-size: 16px;
        color: white;
        &::placeholder {
            color: white;
        }
    }

.icon-date{
    font-size: 3rem;
}

.ml-1-5{
    margin-left: 1.5rem;;
}
.btn-submit{
    padding: 1rem 2rem;
    background-color: $color-yellow;
    border: none;
    border-radius: 1rem;
    margin: 0 auto;
    color: white;
    margin-top: 4rem;
    font-size: $font-size-bar-top;
}

.tables {
    margin: 2rem;
    color: $color-grey-dark;
}

/* dashboard */

.admin {
    background: url(../../img/bg-admin.png) no-repeat;
    background-size: cover;
    .dashboard {
        margin-bottom: 1rem;
    }
}

/* dashboard header */

.dash-header {
    border-bottom: 2px solid $color-grey-light;
    padding: 5px 0;
}

.dash-nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    margin-bottom: 0;
    li {
        display: flex;
        align-items: center;
        img {
            margin-left: 10px;
        }
        h5 {
            color: $color-grey-dark;
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: 0;
            span {
                color: $color-grey-mid;
                font-weight: 400;
            }
        }
        i {
            font-size: 30px;
            margin-left: 10px;
            color: $color-grey-light;
        }
    }
}

/* dashboard menu */

.dash-menu {
    background: rgba($color: #c6c6c6, $alpha: 0.5);
    color: $color-grey-dark;
    padding: 30px 10px 50px;
    min-height: calc(100vh - 50px);
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            margin-bottom: 10px;
            a {
                color: $color-grey-dark;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 1.1;
                font-weight: 700;
                display: flex;
                align-items: center;
                i {
                    width: 41px;
                }
            }
        }
    }
}

/* dashboard main */

.dash-main {
    padding: 2rem;
    .dash-title {
        background-image: linear-gradient(to right, rgba($color-pink-dark,.8) , rgba($color-pink-light,.5));
        padding: 4rem;
        text-align: center;
        border-radius: 20px;
        .btn-create {
            background-color: rgba($color: $color-white, $alpha: .2);
            border-radius: 10px;
            padding: 1rem;
            &:hover {
                background-color: rgba($color: $color-white, $alpha: .3);
            }
            a {
                color: $color-white;
                text-align: center;
                &:hover {
                    text-decoration: none;
                }
                i {
                    font-size: 2.8rem;
                }
                p {
                    font-size: 1.1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.1;
                    margin-bottom: 0;
                }
            }
        }
    }
    .tables.sn-txt  {
        .dataTables_length label {
            display: none;
        }
        input {
            border: 1px solid lightgrey;
            background: white;
        }
    }
}