.tables {
    margin: 2rem;
    color: $color-grey-dark;
}

/* dashboard */

.admin {
    background: url(../img/bg-admin.png) no-repeat;
    background-size: cover;
    .dashboard {
        margin-bottom: 1rem;
        margin-top: 80px;
    }
}

/* dashboard header */

.dash-header {
    border-bottom: 2px solid #c6c6c6;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #ffffff url(../img/bg-admin.png) no-repeat;
    background-size: cover;
    height: 80px;
    .logo {
        max-height: 69px;
    }
}

.dash-nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    margin-bottom: 0;
    li {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        h5 {
            color: $color-grey-dark;
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: 0;
            span {
                color: $color-grey-mid;
                font-weight: 400;
            }
        }
        i {
            font-size: 30px;
            margin-left: .5rem;
            color: $color-grey-light;
        }
    }
}

/* dashboard menu */

.dash-menu {
    background: rgba($color: #c6c6c6, $alpha: 0.5);
    color: $color-grey-dark;
    padding: 30px 10px 50px;
    min-height: calc(100vh - 140px);
    @media screen and (max-width: $break-md) {
        padding: 0;
        min-height: auto;
    }
    .navbar {
        padding: 0;
        .navbar-collapse {
            padding: 1rem;
        }
    }
    .navbar-toggler {
        position: absolute;
        top: -70px;
        background: $color-white;
        right: 10px;
        z-index: 100;
        border: 2px solid $color-pink-light;
        color: $color-pink-light;
        padding: 1.2rem;
        font-size: 2.3rem;
        &:focus {
            outline: none;
            border: 2px solid $color-pink-dark;
            color: $color-pink-dark;
            }
        }
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
        li {
            margin-bottom: 10px;
            a {
                color: $color-grey-dark;
                font-size: 1.8rem;
                text-transform: uppercase;
                line-height: 1.1;
                font-weight: 700;
                display: flex;
                align-items: center;
                &:hover {
                    color: $color-pink-light;
                }
                i {
                    margin-right: 1rem;
                }
            }
        }
    }
}

/* dashboard main */

.dash-main {
    padding: 2rem;
    min-height: calc(100vh - 140px);
    overflow-y: scroll;
    .dash-title {
        font-size: 3.5rem;
        color: #575756;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
    }
    .btn-title {
        display: flex;
        justify-content: flex-end;
        .btn-guide {
            text-align: center;
            p {
                font-size: .8rem;
                color: $color-grey-mid;
                font-weight: 600;
            }
            i {
                font-size: 3.5rem;
                color: $color-pink-dark;
            }
            &:hover i {
                font-size: 3.6rem;
            }
            &:hover a {
                text-decoration: none;
            }
        }
    }
    .btn-create {
        margin-right: 1.6rem;
        a {
            display: flex;
            align-items: center;
            h6 {
                color: $color-grey-dark;
                font-size: 1.9rem;
                font-weight: 600;
                margin-bottom: 0;
                margin-right: .5rem;
            }
            i {
                font-size: 3.3rem;
                color: $color-pink-light;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &:hover i {
            font-size: 3.4rem;
        }
    }
    .tables.sn-txt  {
        .dataTables_length label {
            display: none;
        }
        input {
            border: 0;
            background: transparent;
            border-bottom: 2px solid #c6c6c6;
        }
        .input-group input.form-control {
            border: 0;
        }
        button {
            background: transparent;
            color: $color-grey-mid;
            border: 0;
            outline: 0;
            padding: 2px;
        }
        table.display tr {
            background-color: transparent !important;
            border-bottom: 1px solid #a78d8d !important;
            border-collapse: collapse !important;
        }
        table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
            background-color: transparent;
        }
        .btn-tables a {
            color: $color-grey-mid;
            font-size: 1.5rem;
            margin-right: 1.5rem;
        }
    }
}

.dash-form {
    margin-top: 3rem;
    .input--style-1 {
        font-size: 15px;
        max-width: 100%;
    }
    .form-control {
        border-radius: 25px;
        font-size: 1.5rem;
        border: 2px solid $color-grey-mid;
        padding: 1.9rem 1.2rem;
        &:focus {
        border: 2px solid $color-pink-dark;
        box-shadow: none;
        }
    }
    .btn-next, .btn-back, .btn-last {
        border: 2px solid $color-pink-light;
    }
}

.dash-accordion {
    .group-title {
        color: $color-grey-dark;
        font-weight: 700;
        background-color: transparent;
        border: 0;
        font-size: 1.6rem;
        outline: none;
        &:before {
            content:"\f0dd";
            font-family: "Font Awesome 5 Free";
            padding-right: 5px;
        }
    }
    .group-title.collapsed {
        &:before {
            content:"\f0de";
        }
    }
    .accordion>.card {
        border: 0;
        background: transparent;
        .card-header {
            border-radius: 0;
            margin-bottom: -1px;
            background: transparent;
            border: 0;
            border-bottom: 1px solid $color-grey-light;
        }
    }
    .group {
        h4 {
            font-size: 1.6rem;
            color: $color-grey-dark;
            margin-bottom: 0;
            a {
                &:hover {
                    color: $color-pink-dark;
                }
            }

        }
        p {
            color: $color-grey-mid;
            font-size: 1.5rem;
        }
        a {
            color: $color-grey-mid;
            font-size: 1.3rem;
            margin-left: 5px;
            &:hover {
                color: $color-grey-dark;
            }
        }
    }
}

.alumnos-list {
    padding: 0 2rem;
    list-style-type: none;
    li {
        margin-bottom: 1.2rem;
        a {
            float: right;
            color: $color-grey-mid;
        }
    }
}

/*.border-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    background: #fff;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 2.4rem;
    margin-bottom: 1.3rem;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px; 
      border-radius: inherit; 
      background: $color-grey-mid;
    }
    &:hover, &:focus {
        outline: none;
        display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    background: #fff;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 2.4rem;
    margin-bottom: 1.3rem;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit; 
      background: linear-gradient(to right, $color-pink-dark, $color-pink-light);
    }
    }
}
*/

